/*
*
* Copyright (c) 2024  Hans Kruse
* Based on a configuration (c) 2023 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <behaviors/unicode.dtsi>    
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include "keys/custom_modifiers.h"

#include "keys/keys.h"



// layers
#define DEFAULT     0
#define QWERTY      0
#define NAV         1
#define CONFIG      2
#define GR_MODERN   3  

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

/*
 * Key numbering cheat sheet:
 * 
 * 0     1  2  3  4  5    6  7  8  9  10 11
 * TAB   Q  W  E  R  T    Y  U  I  O  P  BKSP
 * 
 * 12    13 14 15 16 17   18 19 20 21 22 23
 * Ctrl  A  S  D  F  G    H  J  K  L  ;  SQT
 *  
 * 24    25 26 27 28 29   30 31 32 33 34 35
 * Shift Z  X  C  V  B    N  M  ,  .  /  ESQ
 *
 *          36  37 38     39     40   41
 *          Win UP SPC    ENTER  DOWN ALT
 */
 
#define KEYS_L 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29
#define KEYS_R 5 6 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35
#define THUMBS_L 36 37 38
#define THUMBS_R 39 40 41

#define HM_TAPPING_TERM 200
#define HM_TAPPING_TERM_FAST 175
#define HM_PRIOR_IDLE 125
#define HM_QUICK_TAP 150

 / {
	combos {
        	compatible = "zmk,combos";

		combo_sticky_config {
            		layers = <QWERTY CONFIG>;
            		timeout-ms = <25>;
            		key-positions = <24 35>;
            		bindings = <&tog CONFIG>;
        	};
		

		combo_sticky_greek {
            	       layers = <QWERTY GR_MODERN>;
                       timeout-ms = <50>;
                       key-positions = <24 29>; 
                       bindings = <&tog GR_MODERN>;
                };

    	};

        macros {
                kpd: kpd {
                compatible = "zmk,behavior-macro-one-param";
                #binding-cells = <1>;
                bindings =
                           <&macro_param_1to1>
                         , <&kp MACRO_PLACEHOLDER>
                         , <&macro_param_1to1>
                         , <&kp MACRO_PLACEHOLDER> ;
                };

                kpt: kpt {
                compatible = "zmk,behavior-macro-one-param";
                #binding-cells = <1>;
                bindings = 
                           <&macro_param_1to1>
                         , <&kp MACRO_PLACEHOLDER>
                         , <&macro_param_1to1>
                         , <&kp MACRO_PLACEHOLDER>
                         , <&macro_param_1to1>
                         , <&kp MACRO_PLACEHOLDER> ;
                };

        };
	behaviors {

		lt {
                        tapping-term-ms = <200>;
                        quick-tap-ms = <150>;
                        flavor = "tap-preferred";
        	};

		sl {
    			release-after-ms = <500>;
		};

		key_repeat {
                        usage-pages = <HID_USAGE_KEY HID_USAGE_CONSUMER>;
                };


		hl: homerow_mods_left {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			bindings = <&kp>, <&kp>;
			flavor = "balanced";
			tapping-term-ms = <HM_TAPPING_TERM_FAST>;
			quick-tap-ms = <HM_QUICK_TAP>;
			require-prior-idle-ms = <HM_PRIOR_IDLE>;
			hold-trigger-key-positions = <KEYS_R THUMBS_R>;
	  	};
		hr: homerow_mods_right {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			bindings = <&kp>, <&kp>;
			flavor = "balanced";
			tapping-term-ms = <HM_TAPPING_TERM_FAST>;
			quick-tap-ms = <HM_QUICK_TAP>;
			require-prior-idle-ms = <HM_PRIOR_IDLE>;
			hold-trigger-key-positions = <KEYS_L THUMBS_L>;
	  	};

		leader: leader {
			compatible = "zmk,behavior-leader-key";
			#binding-cells = <0>;
			/* --- EMOTICONS.H --- */
			grinning_face { sequence = <S G F>; bindings = <&uc UC_EMJ_GRINNING_FACE>; };
                };

	};

        keymap {
                compatible = "zmk,keymap";


                qwerty_layer {
                        display-name = "QWERTY";
// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |          DQT      |         Q  |            W  |           E   |            R   |               T     |                       |             Y   |            U   |               I    |              O  |               P  |            \        |
// |          HASH     |         A  |            S  |           D   |            F   |               G     |                       |             H   |            J   |               K    |              L  |               ;  |            "        |
// |          leader   |         Z  |            X  |           C   |            V   |               B     |                       |             N   |            M   |               ,    |              .  |               /  |            '        |       
//                                                  |           ESC |            TAB |               SPACE |                       |             RET |            DEL |               BSPC |
                        bindings = <
   &hl RHYPER DQT       &hl RMEH Q   &hl LCG     W    &hl LCA    E    &hl LSC    R     &hl LAG       T                               &hr RAG     Y     &hr RSC    U     &kp           I      &kp          O    &kp           P    &kp        BACKSLASH
   &hl LHYPER HASH      &hl LMEH A   &hl LGUI    S    &hl LALT   D    &hl LSHFT  F     &hl LCTRL     G                               &hr RCTRL   H     &hr RSHFT  J     &hr RALT      K      &hr RGUI     L    &hr RMEH      SEMI &hr RHYPER DQT
   &leader              &hl LCA  Z   &hl RGUI    X    &hl RALT   C    &hl RSHFT  V     &hl RCTRL     B                               &hr LCTRL   N     &hr LSHFT  M     &hr LALT      COMMA  &hr LGUI     DOT  &kp           FSLH &kp        SQT 
                                                      &kp        ESC  &lt NAV    TAB   &kp           SPACE                           &kp         RET   &kp        DEL   &kp           BSPC 
                        >;
                };


                nav_layer {
                        display-name = "NAV";
// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |       RHYPER  |       RMEH   |     LCG   |     LCA  |       LSC   |     LAG    |                                           |     PASTE   |     COPY      |     CUT     |     UNDO   |       REDO      |            INS         |
// |       LHYPER  |       LMEH   |     LGUI  |     LALT |       LSHFT |     LCTRL  |                                           |     LEFT    |     DOWN      |     UP      |     RIGHT  |       F7        |            PRINTSCREEN |
// |               |              |     RGUI  |     RALT |       RSHFT |     RCTRL  |                                           |     HOME    |     PAGE_DOWN |     PAGE_UP |     END    |      SCROLLLOCK |            K_APP       |
//                                            |     CAPS |             |     leader |                                           |     RET     |     DEL       |     BSPC    |
                        bindings = <
     &kp   RHYPER    &kp   RMEH     &kp LCG     &kp LCA    &kp   LSC     &kp LAG                                                  &kp K_PASTE   &kp K_COPY      &kp K_CUT     &kp K_UNDO   &kp   K_REDO      &kp        INS
     &kp   LHYPER    &kp   LMEH     &kp LGUI    &kp LALT   &kp   LSHFT   &kp LCTRL                                                &kp LEFT      &kp DOWN        &kp UP        &kp RIGHT    &kp   F7          &kp        PRINTSCREEN
     &none           &none          &kp RGUI    &kp RALT   &kp   RSHFT   &kp RCTRL                                                &kp HOME      &kp PAGE_DOWN   &kp PAGE_UP   &kp END      &kp   SCROLLLOCK  &kp        K_APP
                                                &kp CAPS   &none         &leader                                                  &kp RET       &kp DEL         &kp BSPC      
                        >;
                };

                config_layer {
                        display-name = "CONFIG";
// ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
// | left reset     |                 |                    |               |                      |                        |         |      BT_CLR      |     BT_PRV      |     BT_NXT    |     BT_CLR_AL   |               | right reset       |
// | left bootloader|                 |                    |               |                      |                        |         |      BT_SEL 0    |     BT_SEL 1    |     BT_SEL 2  |     BT_SEL 3    |     BT_SEL 4  | right bootloader  | 
// | soft off       |                 |                    |               |                      |               SOFT OFF |         |      BT_DISC 0   |     BT_DISC 1   |     BT_DISC 2 |     BIT_DISC 3  |     BT_DISC 4 |            EP_TOG |
//                                                         |       OUT_USB |              OUT_BLE |               OUT_TOG  |         |      EP_TOG      |     EP_ON       |     EP_OFF    |
                         bindings = <
   &sys_reset        &none              &none                &none                  &none                   &none                      &bt  BT_CLR        &bt BT_PRV        &bt BT_NXT      &bt BT_CLR_ALL    &none           &sys_reset 
   &bootloader       &uc UC_SET_MACOS   &uc UC_SET_WIN_ALT   &uc UC_SET_WIN_COMPOSE &uc   UC_SET_LINUX_ALT  &uc   UC_SET_LINUX         &bt  BT_SEL 0      &bt BT_SEL 1      &bt BT_SEL 2    &bt BT_SEL 3      &bt BT_SEL 4    &bootloader
   &soft_off         &uc UC_SET_EMACS   &none                &none                  &none                   &soft_off                  &bt  BT_DISC 0     &bt BT_DISC 1     &bt BT_DISC 2   &bt BT_DISC 3     &bt BT_DISC 4   &ext_power EP_TOG
                                                             &out  OUT_USB          &out  OUT_BLE           &out  OUT_TOG              &tog CONFIG        &ext_power EP_ON  &ext_power EP_OFF      
                        >;
                };

		modern_greek_layer {
                        display-name = "Greek";
// -----------------------------------------------------------------------------------------
// |  ;   |  ς   |  ε   |  ρ   |  τ   |  υ   | |  θ   |  ι   |  ο   |  π   |      |      |
// |  α   |  σ   |  δ   |  φ   |  γ   |  η   | |  ξ   |  κ   |  λ   |      |  ·   | SHIFT|
// |  ζ   |  χ   |  ψ   |  ω   |  β   |  ν   | |  μ   |  ,   |  .   |  /   |  ΄   |      |
//                   | ESC  | TAB  | SPACE | | RET  | DEL  | BSPC |
                         bindings = <
   &uc UC_GRC_QUESTION_MARK &uc UC_GRC_FINAL_SIGMA &uc UC_GRC_EPSILON &uc UC_GRC_RHO   &uc UC_GRC_TAU   &uc UC_GRC_UPSILON &uc UC_GRC_THETA &uc UC_GRC_IOTA   &uc UC_GRC_OMICRON &uc UC_GRC_PI    &none            &none
   &uc UC_GRC_ALPHA         &uc UC_GRC_SMALL_SIGMA &uc UC_GRC_DELTA   &uc UC_GRC_PHI   &uc UC_GRC_GAMMA &uc UC_GRC_ETA     &uc UC_GRC_XI    &uc UC_GRC_KAPPA  &uc UC_GRC_LAMDA   &none            &uc UC_GRC_ANO_TELEIA &kp RSHFT
   &uc UC_GRC_ZETA          &uc UC_GRC_CHI         &uc UC_GRC_PSI     &uc UC_GRC_OMEGA &uc UC_GRC_BETA  &uc UC_GRC_NU      &uc UC_GRC_MU    &kp COMMA         &kp DOT            &kp SLASH        &uc UC_GRC_TONOS &none
                                                       &trans         &kp LSHIFT       &trans                                               &trans            &kp RSHIFT         &trans 
                        >;
                };
        };
};
